{% extends "base.html" %}
{% block head %}

{% set campos='
        <div class="col-4">
            <label for="codigo">Código</label>
            <input type="text" class="form-control" name="codigo[]">
        </div>
        <div class="col-4">
            <label for="cantidad">Cantidad</label>
            <input type="text" class="form-control" name="cantidad[]" oninput="verificarCantidades()">
            <span class="text-danger"></span>
        </div>
        <div class="col-4">
            <label for="fecha">Fecha de vencimiento</label>
            <input type="date" class="form-control" name="fecha[]">
        </div>'%}
        {{idlotes}}
{% include 'scripts/agregarlotes.html' %}



    
{% endblock %}

{% block content %}

<div class="container">
    
    <form method="POST" id="formulario">
        <div id={{idlotes}}>
            <div class="row lote-row">
                <div class="col-4">
                    <label for="codigo">Código</label>
                    <input type="text" class="form-control" id="codigo" name="codigo[]" required>
                </div>
                <div class="col-4">
                    <label for="cantidad">Cantidad</label>
                    <input type="text" class="form-control" id="cantidad" name="cantidad[]" oninput="verificarCantidades()" required>
                    <span class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label for="fecha">Fecha de vencimiento</label>
                    <input type="date" class="form-control" id="fecha" name="fecha[]" required>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-secondary mt-3" onclick="agregarLote()">Agregar lote</button>

        <div id="mensajeCantidadFaltante" class="mt-3 text-warning"></div>

        <button type="submit" id="btnCompletar" class="btn btn-success mt-3" style="display: none;">Completar</button>
    </form>
</div>
{% include 'scripts/validarentero.html' %}
{% include 'scripts/buscaenlista.html' %}

{% include 'lotes/scriptcodigos.html' %}




{% endblock %}