<script>

function verificarCantidades() {
    const cantidadesRequeridas = {{ cantidadesRequeridas | tojson }};
    let cantidadesIngresadas = {};
    let todoValido = true;

    document.querySelectorAll('input[name="codigo[]"]').forEach((input, index) => {
        const codigo = input.value;
        const cantidadInput = document.querySelectorAll('input[name="cantidad[]"]')[index];
        const cantidad = parseInt(cantidadInput.value);

        if (!validarEntero(cantidadInput)) {
            todoValido = false; // Si no es un número entero válido, detenemos la verificación
            return;
        }

        if (!cantidadesIngresadas[codigo]) {
            cantidadesIngresadas[codigo] = 0;
        }
        cantidadesIngresadas[codigo] += cantidad;

        if (cantidadesIngresadas[codigo] > cantidadesRequeridas[codigo]) {
            cantidadInput.classList.add('is-invalid');
            cantidadInput.nextElementSibling.textContent = `El número excede la cantidad máxima de ${cantidadesRequeridas[codigo]} para el código ${codigo}.`;
            todoValido = false;
        } else {
            cantidadInput.classList.remove('is-invalid');
            cantidadInput.nextElementSibling.textContent = '';
        }
    });

    mostrarCantidadRestante(cantidadesIngresadas, cantidadesRequeridas);

    // Si todas las cantidades ingresadas son válidas y completas, mostrar el botón
    if (todoValido && verificarCantidadCompleta(cantidadesIngresadas, cantidadesRequeridas)) {
        document.getElementById('btnCompletar').style.display = 'block';
    } else {
        document.getElementById('btnCompletar').style.display = 'none';
    }
}

function verificarCantidadCompleta(cantidadesIngresadas, cantidadesRequeridas) {
    for (let codigo in cantidadesRequeridas) {
        if (cantidadesIngresadas[codigo] !== cantidadesRequeridas[codigo]) {
            return false;
        }
    }
    return true;
}

function mostrarCantidadRestante(cantidadesIngresadas, cantidadesRequeridas) {
    let mensaje = '';
    for (let codigo in cantidadesRequeridas) {
        const cantidadFaltante = cantidadesRequeridas[codigo] - (cantidadesIngresadas[codigo] || 0);
        if (cantidadFaltante > 0) {
            mensaje += `Te faltan ${cantidadFaltante} unidades del código ${codigo}.<br>`;
        }
    }
    document.getElementById('mensajeCantidadFaltante').innerHTML = mensaje;
}

// Escuchar cambios en los campos de cantidad
document.querySelectorAll('input[name="cantidad[]"]').forEach(input => {
    input.addEventListener('input', verificarCantidades);
});
</script>